<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <div class="content">

        <!-- Start container-fluid -->
        <div class="container-fluid">

            <!-- start  -->
            <div class="row">
                <div class="col-12">
                    {{!-- {{#if count }} --}}
                    <a class="btn btn-outline-danger" href="/admin/trash">Thùng rác <i class="fa fa-trash-o"></i>
                        ({{count}})</a>
                    {{!-- {{/if}} --}}
                    <div style="display: inline-block !important;" class="btn-create-admins">
                        <a href="/admin/register" class="btn btn-outline-primary create-admins">Tạo mới tài khoản</a>
                    </div>
                    <div class="col-lg-4">
                        <form action="/admin/product/search" method="post" class="form mt-4 mt-lg-0">
                            <div class="form-group">
                                <label class="control-label mt-3 mt-lg-0" for="example-input1-group2">Tìm kiếm tài khoản
                                    theo tên</label>
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <button type="button" class="btn btn-primary"><i
                                                class="fa fa-search"></i></button>
                                    </span>
                                    <input type="text" id="example-input1-group2" name="search" class="form-control"
                                        placeholder="search tài khoản theo tên...">
                                </div>
                            </div>
                            <!-- form-group -->
                        </form>
                    </div>
                </div>

            </div>
            <!-- end row -->

            <!-- row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="mt-5">
                        <h5 class="font-14">Danh sách tài khoản</h5>

                        <div class="table-responsive">
                            <table class="table m-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Tên tài khoản</th>
                                        <th>Email</th>
                                        <th>Thời gian tạo</th>
                                        <th>Chức năng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each accounts }}

                                    <tr>
                                        <th scope="row">{{sum @index 1}}</th>
                                        <td>{{this.name}}</td>
                                        <td>{{this.email}}</td>
                                        <td>{{this.created_at}}</td>
                                        <td>
                                            <a href="/admin/{{this.id}}/edit" className="btn btn-link">sửa</a>
                                            <a href="" className="btn btn-link" data-id="{{this.id}}"
                                                data-bs-toggle="modal" data-bs-target="#delete-admin-modal">xóa</a>
                                        </td>
                                    </tr>
                                    {{else}}
                                    <tr>
                                        <td colSpan="5">Bạn chưa có tài khoản nào <a href="/admin/register">Tạo tài
                                                khoản
                                                mới</a></td>
                                        {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- end row -->
        </div>
        <!-- end container-fluid -->
    </div>
    <!-- end content -->

</div>
<!-- END content-page -->

</div>


{{!-- confirm delete admin --}}
<div id="delete-admin-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa tài khoản</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắn muốn xóa tài khoản này không</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button id="btn-delete-admin" type="button" class="btn btn-danger">chuyển vào thùng rác</button>
            </div>
        </div>
    </div>
</div>

{{!-- delete hidden form --}}
<form name="delete-admin-form" method="post">
</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var adminId;
        var deleteform = document.forms['delete-admin-form'];
        var btnDeleteadmin = document.getElementById('btn-delete-admin');


        //when dialog confirm is clicked
        $('#delete-admin-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var id = button.data('id'); // Extract info from data-* attributes
            adminId = button.data('id');
        });
        //when delete admin btn click
        btnDeleteadmin.onclick = function (event) {
            deleteform.action = '/admin/' + adminId + '/?_method=DELETE';//set thêm action cho form
            deleteform.submit();
        }
    });

</script>