<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <div class="content">

        <!-- Start container-fluid -->
        <div class="container-fluid">
            <!-- row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="mt-5">
                        <h5 class="font-14">Danh sách đơn hàng</h5>
                        <div class="table-responsive">
                            <table class="table m-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Mã đơn hàng</th>
                                        <th>Tên người nhận</th>
                                        <th>SĐT </th>
                                        <th>Địa chỉ</th>
                                        <th>Trạng thái</th>
                                        <th> Cập nhật Trạng thái</th>
                                        <th>Chức năng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each orderitems }}

                                    <tr>
                                        <th scope="row">{{sum @index 1}}</th>
                                        <td>{{this.order_code}}</td>
                                        <td>{{this.order_name}}</td>
                                        <td>{{this.order_sdt}}</td>
                                        <td>{{this.order_address}}</td>

                                        <td>
                                            {{#if (eq this.order_status 1)}}
                                            <span class="text text-primary">Đang Chờ Xử Lý</span>
                                            {{else if (eq this.order_status 2)}}
                                            <span class="text text-success">Đã Giao Hàng</span>
                                            {{else}}
                                            <span class="text text-danger">Đã Hủy</span>
                                            {{/if}}
                                        </td>

                                        <td>
                                            {{!-- <form action="/admin/order/process" name="status-form" method="post"
                                                id="orderForm">
                                                <select class="xulydonhang form-control" id="orderSelect" name="status">
                                                    {{#if (eq this.order_status 1)}}
                                                    <option selected value="0">---Xử Lý Đơn Hàng---</option>
                                                    <option value="2">Đơn Hàng Đã Được Xử Lý</option>
                                                    <option value="3">Đã Hủy</option>
                                                    {{else if (eq this.order_status 2)}}
                                                    <option value="0">--Xử Lý Đơn Hàng--</option>
                                                    <option selected value="2">Đơn Hàng Đã Được Xử Lý</option>
                                                    <option value="3">Đã Hủy</option>
                                                    {{else}}
                                                    <option value="0">--Xử Lý Đơn Hàng--</option>
                                                    <option value="2">Đơn Hàng Đã Được Xử Lý</option>
                                                    <option selected value="3">Đã Hủy</option>
                                                    {{/if}}
                                                </select>

                                                <!-- Thêm trường ẩn để giữ order_code -->
                                                <input name="order_code" type="hidden" id="orderCode"
                                                    value="{{this.order_code}}">

                                                <!-- Sửa type của button thành "submit" để gửi form khi nút được nhấn -->
                                                <button id="btn-status" type="submit">Gui</button>
                                            </form> --}}
                                            <select class="xulydonhang form-control" data-order-id="{{this.order_id}}">
                                                {{#if (eq this.order_status 1)}}
                                                <option selected value="0" id="{{this.order_code}}">--Xử Lý Đơn Hàng--
                                                </option>
                                                <option value="2" id="{{this.order_code}}">Đơn Hàng Đã Được Xử Lý
                                                </option>
                                                <option value="3" id="{{this.order_code}}">Đã Hủy</option>
                                                {{else if (eq this.order_status 2)}}
                                                <option value="0" id="{{this.order_code}}">--Xử Lý Đơn Hàng--</option>
                                                <option selected value="2" id="{{this.order_code}}">Đơn Hàng Đã Được Xử
                                                    Lý</option>
                                                <option value="3" id="{{this.order_code}}">Đã Hủy</option>
                                                {{else}}
                                                <option value="0" id="{{this.order_code}}">--Xử Lý Đơn Hàng--</option>
                                                <option value="2" id="{{this.order_code}}">Đơn Hàng Đã Được Xử Lý
                                                </option>
                                                <option selected value="3" id="{{this.order_code}}">Đã Hủy</option>
                                                {{/if}}
                                            </select>


                                        </td>
                                        <td>
                                            <a href="" className="btn btn-link" data-id="{{this.order_code}}"
                                                data-bs-toggle="modal" data-bs-target="#delete-brand-modal">xóa</a>
                                            <a href="/admin/order/{{this.order_code}}/view?q={{this.order_time}}"
                                                className="btn btn-link">Chi
                                                tiết
                                                đơn hàng</a>
                                        </td>
                                    </tr>
                                    {{else}}
                                    <tr>
                                        <td colSpan="5">Bạn chưa có đơn hàng nào
                                            <a href="#">Thêm mới đơn hàng
                                            </a>
                                        </td>
                                        {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- end row -->
        </div>
        <!-- end container-fluid -->
    </div>
    <!-- end content -->

</div>
<!-- END content-page -->

</div>

<script>
    $('.xulydonhang').change(function () {
        const status = $(this).val();
        const order_code = $(this).find(':selected').attr('id');
        const order_id = $(this).data('order-id');
        if (status == 0) {  // Thay đổi từ "value" thành "status"
            alert('Vui Lòng Chọn Xử Lý Đơn Hàng');
        } else {
            $.ajax({
                method: 'POST',
                url: '/admin/order/process',
                data: { status: status, order_code: order_code, order_id: order_id },
                success: function () {
                    alert('Thay đổi thuộc tính đơn hàng thành công')
                    location.reload();
                }
            });
        }
    });

</script>